---
http_interactions:
- request:
    method: put
    uri: https://api.mercadolibre.com/items/<SITE>1788182235/description?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"plain_text":"test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
      Etag:
      - ce25eab5ba73c02691d39ecfe5c8b197
    body:
      encoding: ASCII-8BIT
      string: '{"text":null,"plain_text":"test","last_updated":"2021-02-04T23:58:02.179Z","date_created":"2021-02-04T23:56:28.000Z"}'
  recorded_at: Thu, 04 Feb 2021 23:58:02 GMT
recorded_with: VCR 6.0.0
