---
http_interactions:
- request:
    method: post
    uri: https://api.mercadolibre.com/items
    body:
      encoding: UTF-8
      string: '{"title":"test","price":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"body.required_fields","error":"validation_error","status":400,"cause":[{"department":"items","cause_id":369,"type":"error","code":"body.required_fields","references":["body"],"message":"The
        body does not contains some or none of the following properties [listing_type_id,
        category_id]"}]}'
  recorded_at: Thu, 04 Feb 2021 23:40:03 GMT
recorded_with: VCR 6.0.0
