---
http_interactions:
- request:
    method: put
    uri: https://api.mercadolibre.com/items/<SITE>1020719324?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"price":600.0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Name:
      - syi-api
      X-Api-Version:
      - '1.00'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Cannot update item <SITE>1020719324 [status:closed, has_bids:false]","error":"validation_error","status":400,"cause":[{"department":"items","cause_id":339,"type":"error","code":"item.price.not_modifiable","references":["price"],"message":"price
        is not modifiable."}]}'
  recorded_at: Sat, 23 Jan 2021 06:53:16 GMT
recorded_with: VCR 6.0.0
