---
http_interactions:
- request:
    method: get
    uri: https://api.mercadolibre.com/items/MLB102071932?access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Item with id MLB102071932 not found","error":"not_found","status":404,"cause":[]}'
  recorded_at: Sat, 23 Jan 2021 06:21:58 GMT
recorded_with: VCR 6.0.0
